<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Taking a template from BootStrap-->
    <title>Weather Insights | HW 11</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

    <!-- Set up Nav Bar on side with drop down for different pages-->    
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a href="/templates/index.html" class="navbar-left"><img src="/images/alex.png"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-tasks"></span> Plots <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/templates/maxTemp.html">City Latitude vs Max Temperature</a></li>
                    <li><a href="/templates/humidity.html">City Latitude vs Humidity</a></li>
                    <li><a href="/templates/cloudiness.html">City Latitude vs Cloudiness</a></li>
                    <li><a href="/templates/wind.html">City Latitude vs Wind Speed</a></li>
                  </ul>
                </li>
                <li><a href="/templates/comparison.html"><span class="glyphicon glyphicon-transfer"></span> Comparison</a></li>
                <li><a href="/templates/data.html"><span class="glyphicon glyphicon-stats"></span> Data</a></li>
              </ul>
          </div>
      </nav>

<!-- Give page content. Split to 2 sections add in description and add in the visualizations-->
<div class="container">
    <div class="row" style="padding-top: 75px;">
      <div class="col-sm-7 border">
        <h3>Weather Analytics </h3>
        <hr>
        <p>The purpose of this project was to analyze how weather changes as you get closer to the equator. To
          accomplish this analysis, we first pulled data from the OpenWeatherMap API to assemble a dataset on over
          500 cities.</p>
        <p>After assembling the dataset, I used Matplotlib to plot various aspects of the weather vs. latitude.
          Factors we looked at included: temperature, cloudiness, wind speed, and humidity. This site provides the
          source data and visualizations created as part of the analysis, as well as explanations and descriptions of
          any trends and correlations witnessed.</p>
      </div>
        <div class="col-sm-4 border">
            <h3>Visualizations</h3> 
            <hr>       
            <h4>City Latitude vs Max Temperature</h4><a href="/templates/maxTemp.html" class="viz-box"><img class="viz-preview" src="/images/lat_vs_max_temp.jpg"></a>
            <h4>City Latitude vs Humidity</h4><a href="/templates/humidity.html" class="viz-box"><img class="viz-preview" src="/images/lat_vs_humidity.jpg"></a>
            <h4>City Latitude vs Cloudiness</h4><a href="/templates/cloudiness.html" class="viz-box"><img class="viz-preview" src="/images/lat_vs_cloudiness.jpg"></a>
            <h4>City Latitude vs Wind Speed</h4><a href="/templates/wind.html" class="viz-box"><img class="viz-preview" src="/images/lat_vs_wind.jpg"></a>
            <br><br>
          </div>
        </div>
    </div>

      <footer>
        <div class="footer">Copyright &copy; Alex Zapuchlak 2021</div>
      </footer>
      
      </body>
      </html>