<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plot 1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    div.border {border-style: solid; border-color: lightgray;border-width: .5px; background-color: white;margin: 15px;}
    body {background-color:gainsboro;}
    ul.nav {padding: 5px; }
    </style>
</head>
<body>

    <nav class = "navbar-default navbar-fixed-top">
        <div class = "container-fluid">
            <div class = "navbar-header">
                <a href = "/index.html" class="navbar-left"><img src= "../images/alex.png"></a>
            </div>
            <ul class= "nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-tasks"></span> Plots <span class="caret"></span></a>
                    <ul class= "dropdown-menu">
                        <li><a href="/templates/plot1.html">Plot 1</a></li>
                        <li><a href="/templates/plot2.html">Plot 2</a></li>
                        <li><a href="/templates/plot3.html">Plot 3</a></li>
                        <li><a href="/templates/plot4.html">Plot 4</a></li>
                    </ul>
                </li>
                <li><a href="/templates/comparison.html"><span class="glyphicon glyphicon-transfer"></span> Comparison</a></li>
                <li><a href="/templates/data.html"><span class="glyphicon glyphicon-stats"></span> Data</a></li>
            </ul>
        </div>

    </nav>

    <div class="container">
        <div class="row" style="padding-top: 75px;">
          <div class="col-sm-12 border">
            <h5 style="color: purple; padding:10px;"><a href="/templates/index.html"> < Back to Dashboard</h6></a>      <h3>Plot 1 Page</h3>
            <hr>
            <p>This will be the description of the page. This will be where you add custom content about what you want to put on the page.
              This will be the description of the page. This will be where you add custom content about what you want to put on the page.
            </p>
          </div>
        </div>
      </div>
      
      </body>
      </html>
      